@import '../../../styles/variables.scss';
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 335px;
  color: var(#{--text-color-default});

  .input {
    height: 38px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #4793ff;
    padding: 1px 10px;
    background-color:  var(#{--components-background-default});
    color: var(#{--text-color-default});

  }
  .button {
    height: 38px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #4793ff;
    padding: 1px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color:  var(#{--components-background-default});
    text-decoration: none;
    color: var(#{--text-color-default});
  }
}

.InputWrapper {
  position: relative;

  .history {
    position: absolute;
    width: 100%;
    height: 118px;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    border-top: 0;

    .historyElement {
      background-color: var(#{--components-background-default});
      padding: 10px;
      cursor: pointer;
      color: var(#{--text-color-default});
      text-decoration: none;
    }
  }
}
